<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/index.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome to Music Store</title>
	<script type="text/javascript">	
	function refString(s){
		this.value = s;
	}

	var displayed = new refString("");
	var displayed2 = new refString("");
	var displayed3 = new refString("");


	function goTo(page){
		if (page=='index')
			window.location='/';
		else {
			window.location='/'+page;
		}
	}
	
	
	function remove(id){
		window.location="/removeorder?id="+id+"&page=<%= request.fullpath %>";
	}


	function add(id){
		window.location="/addorder?id="+id+"&page=<%= request.fullpath %>";
	}


	function del(id,currQ){
		if(currQ-1!=0)
		window.location="/del?id="+id+"&page=<%= request.fullpath %>";
		else
		window.location="/removeorder?id="+id+"&page=<%= request.fullpath %>";
	}


	function showContent(display, id){	
		<!--alert(displayed.value+"\n"+displayed2.value+"\n"+displayed3.value+"\n\n"+id)-->
		if (display.value!=""){
			document.getElementById(display.value+"Button").className='link';
			document.getElementById(display.value).style.display='none';
		}
		if (display.value==id){
			display.value = "";
		}
		else {
			document.getElementById(id+"Button").className='link2';
			document.getElementById(id).style.display='inline';
			display.value = id;
		}
	}


	function displayError(){
		var error = new RegExp("[\\?&]error=([^&#]*)").exec(window.location.href );
		if( error != null ){
			if (error[1] == "artistnotfound")
				alert("The Artist you entered does not exist in last.fm\nTry adding it manually");
			else if (error[1] == "albumnotfound")
				alert("The Album you entered does not exist in last.fm\nTry adding it manually");
			else if (error[1] == "badlastfmsongdata")
				alert("A Song could not be added to the database using last.fm\nTry adding it manually");
			else if (error[1] == "badartistdata")
			alert("The Artist you entered already exists\nPlease try again");
			else if (error[1] == "badalbumdata")
			alert("The Album you entered already exists\nPlease try again");
			else if (error[1] == "badsongdata")
				alert("The Song details you entered were invalid\nPlease try again");
			else if (error[1] == "badmerchdata")
				alert("The Merchandise details you entered were invalid\nPlease try again");
			else if (error[1] == "badartistid")
				alert("The Artist ID you entered is incorrect");
			else if (error[1] == "badalbumid")
				alert("The Album ID you entered is incorrect");
			else if (error[1] == "badsongid")
				alert("The Song ID you entered is incorrect");
			else if (error[1] == "badmerchid")
				alert("The Merchandise ID you entered is incorrect");
			else if (error[1] == "badclientid")
<<<<<<< HEAD
			alert("The Username you entered is incorrect");
			else if (error[1] == "dberror")
			alert("Database Error! Please try again");
=======
				alert("The Username you entered is incorrect");
			else if (error[1] == "merche"){
				document.getElementById('merchButton').className='link2';
				document.getElementById('merch').style.display='inline';
				displayed='merch';
				document.getElementById('editMerchButton').className='link2';
				document.getElementById('editMerch').style.display='inline';
				displayed2='editMerch';
				
				
				
			}
				
>>>>>>> 286c2183d83489e62455ec413fecadb1aa582c9e
		}
	}


	function disableAddArtistManualButton(){
		if (addArtistManualForm.artistName.value=="" ||
			addArtistManualForm.artistBio.value=="" ||
			addArtistManualForm.artistImage.value==""){
			addArtistManualForm.submitButton.disabled=true;
		}
		else {
			addArtistManualForm.submitButton.disabled=false;
		}
	}


	function disableAddArtistLastfmButton(){
		if (addArtistLastfmForm.artistName.value==""){
			addArtistLastfmForm.submitButton.disabled=true;
		}
		else {
			addArtistLastfmForm.submitButton.disabled=false;
		}
	}


	function disableAddAlbumManualButton(){
		if (addAlbumManualForm.albumName.value=="" ||
			addAlbumManualForm.albumLength.value=="" ||
			addAlbumManualForm.albumGenre.value=="" ||
			addAlbumManualForm.albumLabel.value=="" ||
			addAlbumManualForm.albumArtist.value=="" ||
			addAlbumManualForm.albumDescription.value=="" ||
			addAlbumManualForm.albumImage.value=="" ||
			addAlbumManualForm.albumDate.value=="" ||
			addAlbumManualForm.albumPrice.value=="" ||
			addAlbumManualForm.albumStock.value=="" ||
			isNaN(addAlbumManualForm.albumArtist.value) ||
			isNaN(addAlbumManualForm.albumDate.value) ||
			isNaN(addAlbumManualForm.albumPrice.value) ||
			isNaN(addAlbumManualForm.albumStock.value)){
			addAlbumManualForm.submitButton.disabled=true;
		}
		else {
			addAlbumManualForm.submitButton.disabled=false;
		}
	}


	function disableAddAlbumLastfmButton(){
		if (addAlbumLastfmForm.albumName.value=="" ||
			addAlbumLastfmForm.albumLength.value=="" ||
			addAlbumLastfmForm.albumGenre.value=="" ||
			addAlbumLastfmForm.albumLabel.value=="" ||
			addAlbumLastfmForm.albumArtist.value=="" ||
			addAlbumLastfmForm.albumPrice.value=="" ||
			addAlbumLastfmForm.albumStock.value=="" ||
			isNaN(addAlbumLastfmForm.albumArtist.value) ||
			isNaN(addAlbumManualForm.albumPrice.value) ||
			isNaN(addAlbumManualForm.albumStock.value)){
			addAlbumLastfmForm.submitButton.disabled=true;
		}
		else {
			addAlbumLastfmForm.submitButton.disabled=false;
		}
	}


	function disableAddSongButton(){
		if (addSongForm.songName.value=="" ||
			addSongForm.songLength.value=="" ||
			addSongForm.songGenre.value=="" ||
			addSongForm.songArtist.value=="" ||
			addSongForm.songDescription.value=="" ||
			addSongForm.songImage.value=="" ||
			addSongForm.songDate.value=="" ||
			addSongForm.songPrice.value=="" ||
			(addSongForm.songAlbum.value!="" &&	addSongForm.songNumber.value=="") ||
			(addSongForm.songAlbum.value=="" &&	addSongForm.songNumber.value!="") ||
			isNaN(addSongForm.songAlbum.value) ||
			isNaN(addSongForm.songNumber.value) ||
			isNaN(addSongForm.songArtist.value) ||
			isNaN(addSongForm.songDate.value) ||
			isNaN(addSongForm.songPrice.value)){
			addSongForm.submitButton.disabled=true;
		}
		else {
			addSongForm.submitButton.disabled=false;
		}
	}


	function disableAddMerchButton(){
		if (addMerchForm.merchName.value=="" ||
			addMerchForm.merchArtist.value=="" ||
			addMerchForm.merchDescription.value=="" ||
			addMerchForm.merchImage.value=="" ||
			addMerchForm.merchDate.value=="" ||
			addMerchForm.merchPrice.value=="" ||
			addMerchForm.merchStock.value=="" ||
			isNaN(addMerchForm.merchArtist.value) ||
			isNaN(addMerchForm.merchDate.value) ||
			isNaN(addMerchForm.merchPrice.value) ||
			isNaN(addMerchForm.merchStock.value)){
			addMerchForm.submitButton.disabled=true;
		}
		else {
			addMerchForm.submitButton.disabled=false;
		}
	}
	

	function disableSubmitButton(form){
		if(form.ID.value=="" || isNaN(form.ID.value)){
			form.submitButton.disabled=true;
		}
		else {
			form.submitButton.disabled=false;
		}
	}
	</script>
</head>

<body onLoad="displayError()">
	<div class="container" style="overflow: hidden;">
		<div align="center" class="header" >
			<table>
				<tr>
					<td>
						<img src="/img/Banana2.png" width="60" height="60"/>
					</td>
					<td>
						<logo href="/"><h1>Banana Store</logo>
					</td>
					<td>
						<img src="/img/Banana.png" width="60" height="60"/>
					</td>
				</tr>
			</table>
			<div align="left" style="background:#F93; padding:12px">
				<div>
					<span width="100" class="link" onClick="goTo('index')">Home</span>
					<span width="100" class="link" onClick="goTo('top')">Top</span>
					<span width="100" class="link" onClick="goTo('artists')">Artists</span>
					<span width="100" class="link" onClick="goTo('albums')">Albums</span>
					<span width="100" class="link" onClick="goTo('merchandising')">Merchandising</span>
					<span width="100" class="link" onClick="goTo('admin')">Manage Store</span>

					<div style="float:right">
						<form name="searchForm" action="/search" method="post">
							<span> Search </span><input type="text" name="term" style="border-style:double" />
							<select name="option">
								<option value="artist">Artists</option>
								<option value="album">Albums</option>
								<option value="song">Songs</option>
								<option value="merch">Merchandising</option>
							</select>
							<input type="submit" value="Go">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div align="center" class="content">
			<!-- !LOGGED_IN -->
			<% if @logged %>
			<div style="background:#FFF; float:left;width:15%">
				<h1 class="head"><%= session[:id] %></h1>
				<a class="search" href="/client"> Edit your account</a>
				<br />
				<input id="credits_txt" type="text" size="5" style="display:none;" onkeyup="justInt()" /><br />
				<input id="credits_btn" type="button" value="Buy Credits" onmouseup="credits()">	
				<br /><br />
				<a href="/logout">Logout</a>
			</div>
			<% else %>
			<div style="background:#FFF; float:left;width:20%;">
				<form action="/login" method="post" accept-charset="utf-8">
					<h1>Login</h1>
					<h3>Username</h3><input type="text" name="username" /><br />
					<h3>Password</h3><input type="password" name="password"/><br /><br />
					<input type="submit" value="Login">
					<br /><br />
					<a href="/register">Not Registered?</a>
					<br />
				</form>
			</div>
			<% end %>


			<div id="menu" align="left" style="background:#EEE; float:left;width:70%; display:inline">
				<br/>
				<span id="artistsButton" width="100" class="link" onClick="	showContent(displayed, 'artists');
																			displayed2.value = ''
																			addArtistButton.className='link';
																			addArtist.style.display='none';
																			editArtistButton.className='link';
																			editArtist.style.display='none';
																			deleteArtistButton.className='link';
																			deleteArtist.style.display='none'
																		">Artists</span>
				<span id="albumsButton" width="100" class="link" onClick="	showContent(displayed, 'albums');
																			displayed2.value = ''
																			addAlbumButton.className='link';
																			addAlbum.style.display='none';
																			editAlbumButton.className='link';
																			editAlbum.style.display='none';
																			deleteAlbumButton.className='link';
																			deleteAlbum.style.display='none'
																		">Albums</span>
				<span id="songsButton" width="100" class="link" onClick="	showContent(displayed, 'songs');
																			displayed2.value = ''
																			addSongButton.className='link';
																			addSong.style.display='none';
																			editSongButton.className='link';
																			editSong.style.display='none';
																			deleteSongButton.className='link';
																			deleteSong.style.display='none'
																		">Songs</span>
				<span id="merchButton" width="100" class="link" onClick="	showContent(displayed, 'merch');
																			displayed2.value = '';
																			addMerchButton.className='link';
																			addMerch.style.display='none';
																			editMerchButton.className='link';
																			editMerch.style.display='none';
																			deleteMerchButton.className='link';
																			deleteMerch.style.display='none'
																		">Merchandising</span>
				<span id="clientsButton" width="100" class="link" onClick="	showContent(displayed, 'clients');
																			displayed2.value = 'deleteClient';
																			deleteClientButton.className='link2';
																			deleteClient.style.display='inline'
																		">Clients</span>


				<!--<button type="button" onclick="showContent('artists')" align="left"><img src="/img/artists.jpg" alt="Artists" title="Artists"/></button>-->


				<div id="artists" align="left" style="background:#EEE; float:left;width:70%; display:none">
					<br/>
					<span id="addArtistButton" width="100" class="link" onClick="	showContent(displayed2, 'addArtist')
																					displayed3.value = ''
																					addArtistManualButton.className='link';
																					addArtistManual.style.display='none';
																					addArtistLastfmButton.className='link';
																					addArtistLastfm.style.display='none';
																				">Add</span>
					<span id="editArtistButton" width="100" class="link" onClick="	showContent(displayed2, 'editArtist')
																					displayed3.value = ''
																					editArtistManualButton.className='link';
																					editArtistManual.style.display='none';
																					editArtistLastfmButton.className='link';
																					editArtistLastfm.style.display='none';
																				">Edit</span>
					<span id="deleteArtistButton" width="100" class="link" onClick="showContent(displayed2, 'deleteArtist')">Delete</span>
					<br/>
					<br/>
					<div id="addArtist" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<span id="addArtistManualButton" width="100" class="link" onClick="showContent(displayed3, 'addArtistManual')">Manually</span>
						<span id="addArtistLastfmButton" width="100" class="link" onClick="showContent(displayed3, 'addArtistLastfm')">Using last.fm</span>
						<br/>
						<br/>
						<div id="addArtistManual" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<form name="addArtistManualForm" action="/addArtistManual" method="post">
								<table onkeyup="disableAddArtistManualButton()" width="300">
									<tr>
										<td class="label" width="65">Name:</td>
										<td><input type="text" name="artistName"/></td>
									</tr>
									<tr>
										<td class="label">Bio:</td>
										<td><input type="text" name="artistBio"/></td>
									</tr>
									<tr>
										<td class="label">Image:</td>
										<td><input type="text" name="artistImage"/></td>
									</tr>
								</table>
								<input type="submit" value="Add" name="submitButton" disabled="true"/>
							</form>
						</div>
						<div id="addArtistLastfm" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<form name="addArtistLastfmForm" action="/addArtistLastfm" method="post">
								<table width="300">
									<tr>
										<td class="label" width="65">Name:</td>
										<td><input type="text" name="artistName" onkeyup="disableAddArtistLastfmButton()"/></td>
									</tr>
								</table>
								<input type="submit" value="Add" name="submitButton" disabled="true"/>
							</form>
						</div>
					</div>
					<div id="editArtist" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<span id="editArtistManualButton" width="100" class="link" onClick="showContent(displayed3, 'editArtistManual')">Manually</span>
						<span id="editArtistLastfmButton" width="100" class="link" onClick="showContent(displayed3, 'editArtistLastfm')">Using last.fm</span>
						<br/>
						<br/>
						<div id="editArtistManual" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<h3>Manually</h3>
						</div>
						<div id="editArtistLastfm" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<h3>Using last.fm</h3>
						</div>
					</div>
					<div id="deleteArtist" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<form name="deleteArtistForm" action="/deleteArtist" method="post">
							<table>
								<tr>
									<td class="label">Artist ID:</td>
									<td><input type="text" name="ID" onkeyup="disableSubmitButton(deleteArtistForm)"/></td>
								</tr>
							</table>
							<input type="submit" value="Delete" name="submitButton" disabled="true"/>
						</form>
					</div>
				</div>

				<div id="albums" align="left" style="background:#EEE; float:left;width:70%; display:none">
					<br/>
					<span id="addAlbumButton" width="100" class="link" onClick="	showContent(displayed2, 'addAlbum')
																					displayed3.value = ''
																					addAlbumManualButton.className='link';
																					addAlbumManual.style.display='none';
																					addAlbumLastfmButton.className='link';
																					addAlbumLastfm.style.display='none';
																				">Add</span>
					<span id="editAlbumButton" width="100" class="link" onClick=	"showContent(displayed2, 'editAlbum')
																					displayed3.value = ''
																					editAlbumManualButton.className='link';
																					editAlbumManual.style.display='none';
																					editAlbumLastfmButton.className='link';
																					editAlbumLastfm.style.display='none';
																				">Edit</span>
					<span id="deleteAlbumButton" width="100" class="link" onClick="showContent(displayed2, 'deleteAlbum')">Delete</span>
					<br/>
					<br/>
					<div id="addAlbum" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<span id="addAlbumManualButton" width="100" class="link" onClick="showContent(displayed3, 'addAlbumManual')">Manually</span>
						<span id="addAlbumLastfmButton" width="100" class="link" onClick="showContent(displayed3, 'addAlbumLastfm')">Using last.fm</span>
						<br/>
						<br/>
						<div id="addAlbumManual" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<form name="addAlbumManualForm" action="/addAlbumManual" method="post">
								<table onkeyup="disableAddAlbumManualButton()" width="400">
									<tr>
										<td class="label" width="130">Name:</td>
										<td><input type="text" name="albumName"/></td>
									</tr>
									<tr>
										<td class="label">Length:</td>
										<td><input type="text" name="albumLength"/></td>
									</tr>
									<tr>
										<td class="label">Genre:</td>
										<td><input type="text" name="albumGenre"/></td>
									</tr>
									<tr>
										<td class="label">Label:</td>
										<td><input type="text" name="albumLabel"/></td>
									</tr>
									<tr>
										<td class="label">Artist ID:</td>
										<td><input type="text" name="albumArtist"/></td>
									</tr>
									<tr>
										<td class="label">Description:</td>
										<td><input type="text" name="albumDescription"/></td>
									</tr>
									<tr>
										<td class="label">Image:</td>
										<td><input type="text" name="albumImage"/></td>
									</tr>
									<tr>
										<td class="label">Release Year:</td>
										<td><input type="text" name="albumDate"/></td>
									</tr>
									<tr>
										<td class="label">Price:</td>
										<td><input type="text" name="albumPrice"/></td>
									</tr>
									<tr>
										<td class="label">Stock:</td>
										<td><input type="text" name="albumStock"/></td>
									</tr>
								</table>
								<input type="submit" value="Add" name="submitButton" disabled="true"/>
							</form>
						</div>
						<div id="addAlbumLastfm" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<form name="addAlbumLastfmForm" action="/addAlbumLastfm" method="post">
								<table onkeyup="disableAddAlbumLastfmButton()" width="400">
									<tr>
										<td class="label" width="130">Name:</td>
										<td><input type="text" name="albumName"/></td>
									</tr>
									<tr>
										<td class="label">Length:</td>
										<td><input type="text" name="albumLength"/></td>
									</tr>
									<tr>
										<td class="label">Genre:</td>
										<td><input type="text" name="albumGenre"/></td>
									</tr>
									<tr>
										<td class="label">Label:</td>
										<td><input type="text" name="albumLabel"/></td>
									</tr>
									<tr>
										<td class="label">Artist ID:</td>
										<td><input type="text" name="albumArtist"/></td>
									</tr>
									<tr>
										<td class="label">Price:</td>
										<td><input type="text" name="albumPrice"/></td>
									</tr>
									<tr>
										<td class="label">Stock:</td>
										<td><input type="text" name="albumStock"/></td>
									</tr>
								</table>
								<input type="submit" value="Add" name="submitButton" disabled="true"/>
							</form>
						</div>
					</div>
					<div id="editAlbum" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<span id="editAlbumManualButton" width="100" class="link" onClick="showContent(displayed3, 'editAlbumManual')">Manually</span>
						<span id="editAlbumLastfmButton" width="100" class="link" onClick="showContent(displayed3, 'editAlbumLastfm')">Using last.fm</span>
						<br/>
						<br/>
						<div id="editAlbumManual" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<h3>Manually</h3>
						</div>
						<div id="editAlbumLastfm" align="left" style="background:#EEE; float:left;width:70%; display:none">
							<h3>Using last.fm</h3>
						</div>
					</div>
					<div id="deleteAlbum" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<form name="deleteAlbumForm" action="/deleteAlbum" method="post">
							<table>
								<tr>
									<td class="label">Album ID:</td>
									<td><input type="text" name="ID" onkeyup="disableSubmitButton(deleteAlbumForm)"/></td>
								</tr>
							</table>
							<input type="submit" value="Delete" name="submitButton" disabled="true"/>
						</form>
					</div>
				</div>

				<div id="songs" align="left" style="background:#EEE; float:left;width:70%; display:none">
					<br/>
					<span id="addSongButton" width="100" class="link" onClick="showContent(displayed2, 'addSong')">Add</span>
					<span id="editSongButton" width="100" class="link" onClick="showContent(displayed2, 'editSong')">Edit</span>
					<span id="deleteSongButton" width="100" class="link" onClick="showContent(displayed2, 'deleteSong')">Delete</span>
					<br/>
					<br/>					
					<div id="addSong" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<form name="addSongForm" action="/addSong" method="post">
							<table onkeyup="disableAddSongButton()" width="400">
								<tr>
									<td class="label" width="130">Name:</td>
									<td><input type="text" name="songName"/></td>
								</tr>
								<tr>
									<td class="label">Length:</td>
									<td><input type="text" name="songLength"/></td>
								</tr>
								<tr>
									<td class="label">Genre:</td>
									<td><input type="text" name="songGenre"/></td>
								</tr>
								<tr>
									<td class="label">Number:</td>
									<td><input type="text" name="songNumber"/></td>
								</tr>
								<tr>
									<td class="label">Album ID:</td>
									<td><input type="text" name="songAlbum"/></td>
								</tr>
								<tr>
									<td class="label">Artist ID:</td>
									<td><input type="text" name="songArtist"/></td>
								</tr>
								<tr>
									<td class="label">Description:</td>
									<td><input type="text" name="songDescription"/></td>
								</tr>
								<tr>
									<td class="label">Image:</td>
									<td><input type="text" name="songImage"/></td>
								</tr>
								<tr>
									<td class="label">Release Year:</td>
									<td><input type="text" name="songDate"/></td>
								</tr>
								<tr>
									<td class="label">Price:</td>
									<td><input type="text" name="songPrice"/></td>
								</tr>
							</table>
							<input type="submit" value="Add" name="submitButton" disabled="true"/>
						</form>
					</div>
					<div id="editSong" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<h3>Song2</h3>
					</div>
					<div id="deleteSong" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<form name="deleteSongForm" action="/deleteSong" method="post">
							<table>
								<tr>
									<td class="label">Song ID:</td>
									<td><input type="text" name="ID" onkeyup="disableSubmitButton(deleteSongForm)"/></td>
								</tr>
							</table>
							<input type="submit" value="Delete" name="submitButton" disabled="true"/>
						</form>
					</div>
				</div>

				<div id="merch" align="left" style="background:#EEE; float:left;width:70%; display:none">
					<br/>
					<span id="addMerchButton" width="100" class="link" onClick="showContent(displayed2, 'addMerch')">Add</span>
					<span id="editMerchButton" width="100" class="link" onClick="showContent(displayed2, 'editMerch')">Edit</span>
					<span id="deleteMerchButton" width="100" class="link" onClick="showContent(displayed2, 'deleteMerch')">Delete</span>
					<br/>
					<br/>					
					<div id="addMerch" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<form name="addMerchForm" action="/addMerch" method="post">
							<table onkeyup="disableAddMerchButton()" width="400">
								<tr>
									<td class="label" width="130">Name:</td>
									<td><input type="text" name="merchName"/></td>
								</tr>
								<tr>
									<td class="label">Artist ID:</td>
									<td><input type="text" name="merchArtist"/></td>
								</tr>
								<tr>
									<td class="label">Description:</td>
									<td><input type="text" name="merchDescription"/></td>
								</tr>
								<tr>
									<td class="label">Image:</td>
									<td><input type="text" name="merchImage"/></td>
								</tr>
								<tr>
									<td class="label">Release Year:</td>
									<td><input type="text" name="merchDate"/></td>
								</tr>
								<tr>
									<td class="label">Price:</td>
									<td><input type="text" name="merchPrice"/></td>
								</tr>
								<tr>
									<td class="label">Stock:</td>
									<td><input type="text" name="merchStock"/></td>
								</tr>
							</table>
							<input type="submit" value="Add" name="submitButton" disabled="true"/>
						</form>
					</div>
					<div id="editMerch" align="left" style="background:#EEE; float:left;width:70%; display:none">

					
					
					
					
					
					
					
					
					
					
					
					
					
						<form name="editMerchForm" action="/editMerch" method="post">
							<table width="400">
								<tr>
									<td class="label" width="130">Name:</td>
									<td><input type="text" disabled="true" name="merchName"/></td>
								</tr>
								<tr>
									<td class="label">Artist ID:</td>
									<td><input type="text" disabled="true" name="merchArtist"/></td>
								</tr>
								<tr>
									<td class="label">Description:</td>
									<td><input type="text" disabled="true" name="merchDescription"/></td>
								</tr>
								<tr>
									<td class="label">Image:</td>
									<td><input type="text" disabled="true" name="merchImage"/></td>
								</tr>
								<tr>
									<td class="label">Release Year:</td>
									<td><input type="text" disabled="true" name="merchDate"/></td>
								</tr>
								<tr>
									<td class="label">Price:</td>
									<td><input type="text" disabled="true" name="merchPrice"/></td>
								</tr>
								<tr>
									<td class="label">Stock:</td>
									<td><input type="text" disabled="true" name="merchStock"/></td>
								</tr>
							</table>
							<input type="submit" value="Edit" name="editButton" disabled="true"/>
							<br/>
							<br/>
						</form>
						<form name="getMerchForm" action="/getMerch" method="post">
							<table width="400">
								<tr>
									<td width="130"><input type="submit" value="Get" name="submitButton" disabled="true"/></td>
									<td><input type="text" name="ID" onkeyup="disableSubmitButton(getMerchForm)"/></td>
								</tr>
							</table>
						</form>

						
						
						
						
						
						
						
						
						
						
					</div>
					<div id="deleteMerch" align="left" style="background:#EEE; float:left;width:70%; display:none">
						<form name="deleteMerchForm" action="/deleteMerch" method="post">
							<table width="330">
								<tr>
									<td class="label">Merchandise ID:</td>
									<td><input type="text" name="ID" onkeyup="disableSubmitButton(deleteMerchForm)"/></td>
								</tr>
							</table>
							<input type="submit" value="Delete" name="submitButton" disabled="true"/>
						</form>
					</div>
				</div>

				<div id="clients" align="left" style="background:#EEE; float:left;width:70%; display:none">
					<br/>
					<span id="deleteClientButton" width="100" class="link2" onClick="showContent(displayed2, 'deleteClient')">Delete</span>
					<br/>
					<br/>
					<div id="deleteClient" align="left" style="background:#EEE; float:left;width:70%; display:inline">
						<form name="deleteClientForm" action="/deleteClient" method="post">
							<table>
								<tr>
									<td class="label">Username:</td>
									<td><input type="text" name="ID" onkeyup="disableSubmitButton(deleteClientForm)"/></td>
								</tr>
							</table>
							<input type="submit" value="Delete" name="submitButton" disabled="true"/>
						</form>
					</div>
				</div>
			</div>

			<!-- Shopping Cart -->
			<div style="background:#FFF; float:left;width:15%;">
				<h1 class="head">Shopping Cart</h1>
				<% if params[:erro] == "f" %>
					<p>Your order was done sucessfully. Thanks for using our store</p>
				<% end %>
				<% if session[:orders]=={}%>
					<p>No orders</p>
				<% else %>
					<p>You have some orders</p>
					<% session[:orders].keys.each do |order| %>
					<p align="left" style="margin:10%">Product: <%= session[:orders][order][1] %> (<%= session[:orders][order][2] %>)<br />Quantity: <%= session[:orders][order][0] %> <img style="cursor:pointer" onmouseup="add(<%= order %>)" src="/img/plus.png">  <img style="cursor:pointer" onmouseup="del(<%= order %>,<%= session[:orders][order][0] %>)" src="/img/minus.png"><br /><img style="cursor:pointer" onmouseup="remove(<%= order %>)" src="/img/cross.png"></p>
					<% end %>
					<% if @logged %>
						<input type="button" onClick="goTo('checkout')" value="Checkout">
					<% else %>
						<input type="button" onClick="goTo('checkout')" value="Checkout" disabled="true">
						<br />You need to be logged in to proceed to checkout! 
					<%end%>
					<p>(a) - album / (s) - song / (m) - merchandise</p>
				<%end%>
			</div>
		</div>
	</div>
	<div align="center" id="footer">
		Copyright © 2010 - Guilherme Simões, João Penetra, Ricardo Bernardino
	</div>
</div>
</body>
</html>
