<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/index.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome to Music Store</title>
	<script type="text/javascript">
	function goTo(page){
		if (page=='index')
			window.location='/';
		else {
			window.location='/'+page;
		}
	}
	
	function rating(){
		var rating= Math.ceil(<%= @res[8] %>);
		var i=0;
		var img;
		
		for(i=0; i<rating ;i++){
			img=document.getElementById("star"+i);
			img.src="/img/star.png";
		}
		for(i; i<5 ;i++){
			img=document.getElementById("star"+i);
			img.src="/img/blank.png";
		}
	}
	
	function imgOver(id){
		for(i=0; i<id+1 ;i++){
			img=document.getElementById("star"+i);
			img.src="/img/star.png";
		}
		for(i; i<5 ;i++){
			img=document.getElementById("star"+i);
			img.src="/img/blank.png";
		}
	}
	
	function vote(id){
		window.location="/addvote?page=<%= request.fullpath %>&v="+id+"&id=<%= params[:id] %>";
	}
	
	</script>
</head>

<body onload="rating();">
	<div class="container">
		<div align="center" class="header">
			<h1>Music Store</h1>
			<div align="left" style="background:#F93; padding:8px">
				<div>
					<span width="100" class="link" onClick="goTo('index')">Home</span>
					<span width="100" class="link" onClick="goTo('top')">Top</span>
					<span width="100" class="link" onClick="goTo('artists')">Artists</span>
					<span width="100" class="link" onClick="goTo('albums')">Albums</span>
					<span width="100" class="link" onClick="goTo('merchandising')">Merchandising</span>

					<div style="float:right">
						<form name="searchForm" action="/search" method="post">
							<span> Search </span><input type="text" name="term" style="border-style:double" />
							<select name="option">
								<option value="artist">Artists</option>
								<option value="album">Albums</option>
								<option value="song">Songs</option>
								<option value="merch">Merchandising</option>
							</select>
							<input type="submit" value="Go">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div align="center" class="content">
			<!-- !LOGGED_IN -->
			<% if @logged %>
			<div style="background:#EEE; float:left;width:20%">
				<h3>Welcome <%= session[:id] %>!!</h3><br />
				<a href="/logout">Logout</a>
			</div>
			<% else %>
			<div style="background:#EEE; float:left;width:20%;">
				<form action="/login" method="post" accept-charset="utf-8">
					<h1>Login</h1>
					<h3>Username</h3><input type="text" name="username" />
					<h3>Password</h3><input type="password" name="password"/><br />
					<input type="submit" value="Login">
					<br />
					<a href="/register">Not Registered?</a>
					<br />
				</form>
			</div>
			<% end %>
			<!-- Cenas -->
			<div style="background-color:#CCC; float:left;width:60%">
				<div style="float:left;margin:10px;">
					<img src="<%=@res[2] %>" />
				</div>

				
				
		      	<div align="left" style="margin: 10px;"><!-- Artist Info -->
					<p>Artist Name: <a class="search" href ="/artist/<%= params[:name] %>"> <%= @res[0] %> </a></p>
					<p>Album Name: <%= @res[1] %></p>
					<p>Info: <%= @res[3] %></p>
					<p>Length: <%= @res[5] %></p>
					<p>Label: <%= @res[7] %></p>
					<p>Genre: <%= @res[6] %></p>
					<p>Release Date: <%= @res[4] %></p> 
					<p>Rating: <img id="star0" onmouseover="imgOver(0)" onmouseout="rating()" onmouseup="vote(1)" src="/img/blank.png"><img id="star1" onmouseover="imgOver(1)" onmouseout="rating()" onmouseup="vote(2)" src="/img/blank.png"><img id="star2" onmouseover="imgOver(2)" onmouseout="rating()" onmouseup="vote(3)" src="/img/blank.png"><img id="star3" onmouseover="imgOver(3)" onmouseout="rating()" onmouseup="vote(4)" src="/img/blank.png"><img id="star4" onmouseup="vote(5)" onmouseover="imgOver(4)" onmouseout="rating()" src="/img/blank.png"></p>
					<p>Price: <%= @res[10] %> euros</p>
					<a href="/addorder?page=<%= request.fullpath %>&id=<%= params[:id] %>&type=a">BUY</a>
					<br />
					<p>Track Listing: </p>
					<table>
					<% 	tracks = @songs.length
						i=0
						while i < tracks %>
							<tr>
								<td>
									<%= @songs[i] %>-
								</td>
								<td>
									<%= @songs[i+1] %>
								</td>
								<td>
									&nbsp&nbsp <%= @songs[i+2] %>
								</td>
							</tr>
						<% i=i+3 %>
						<% end  %>
					</table>
					<p>More Albuns From this Artist: </p>
					<table>
						<% album = @albums.length
						i=0
						
						while i < album
							if params[:id] != @albums[i].to_s %>
								<tr>
									<td>
										<a class="search" href="/artist/<%=params[:name]%>/album/<%= @albums[i] %>"><img src="<%=@albums[i+2] %>"/></a>
									</td>
									<td>
										<a class="search" href="/artist/<%=params[:name]%>/album/<%= @albums[i] %>" ><%=@albums[i+1] %></a>
									</td>
								</tr>
							<% end %>
							<% i=i+3 %>
						<% end %>
					</table>
				</div>
		      </div>
			<!-- Shopping Cart -->
			<div style="background:#DDD; float:left;width:20%;">
				<h1>Shopping Cart</h1>
				<% if session[:orders]=={}%>
					<p>No orders</p>
				<% else %>
					<p>You have some orders</p>
					<% session[:orders].keys.each do |order| %>
					<p><%= session[:orders][order][1] %>:<%= session[:orders][order][0] %></p>
					<% end %>
					<input type="button" onClick="goTo('checkout')" value="Checkout">
				<%end%>
			</div>
		</div>
		<div align="center" class="footer">
			Copyright - Guilherme Simões, João Penetra, Ricardo Bernardino
		</div>
	</div>
</body>
</html>
