<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>MusicStore - Checkout</title>
	<link rel="stylesheet" type="text/css" href="checkout.css" />
	<script type="text/javascript">
		function remove(id){
			window.location="/removeorder?id="+id+"&page=<%= request.path_info %>";
		}
		
		function add(id){
			window.location="/addorder?id="+id+"&page=<%= request.path_info %>";
		}

		function del(id,currQ){
			if(currQ-1!=0)
				window.location="/del?id="+id+"&page=<%= request.path_info %>";
			else
				window.location="/removeorder?id="+id+"&page=<%= request.path_info %>";
		}
	</script>
</head>
<body>
	<br />
	<div id="cont" align="center" style="margin-left:10%; margin-right:10%; background:#eee">
		<br /><h1>Checkout</h1><br />
		<div align="center">
			<table class="checkout" cellpadding="10" cellspacing="2">
				<tr align="center" style="background:#f93;color:#eee">
					<td width="30%">Name</td>
					<td width="10%">Quantity</td>
					<td width="30%">Type</td>
					<td width="10%">Remove</td>
				</tr>
				<% session[:orders].keys.each do |order| %>
				<tr align="center">
						<td><%=session[:orders][order][1]%></td>
						<td><%=session[:orders][order][0]%> <img style="cursor:pointer" onmouseup="add(<%= order %>)" src="/img/plus.png">  <img style="cursor:pointer" onmouseup="del(<%= order %>,<%= session[:orders][order][0] %>)" src="/img/minus.png"></td>
						<% if session[:orders][order][2] == 'a'%>
						<td>Album</td>
						<% elsif session[:orders][order][2] == 'm'%>
						<td>Merchandise</td>
						<% elsif session[:orders][order][2] == 's'%>
						<td>Song</td>
						<% end %>
						<td><img style="cursor:pointer" onmouseup="remove(<%= order %>)" src="/img/cross.png"></td>
				</tr>
				<% end%>
				<% if session[:orders] == {} %>
				<tr align="center">
					<td colspan="4"> No Items </td>
				</tr>
				<% end %>
			</table>
			<br />
			<table class="checkout">
				<tr align="center" style="background:#f93;color:#eee;">
					<td>TOTAL</td>
					<td>YOUR CREDITS</td>
				</tr>
				<tr align="center">
					<td><%= session[:total]? Float(session[:total]) : 0 %> credits</td>
					<td><% res = $db.select("select address, credits from client where client_id='#{session[:id]}'") %><%= res[1] %></td>
				</tr>
			</table>
		</div>
		<div align="left" style="margin-left:10%;margin-right:10%;">
			<p>Your Address:</p>
			<p><%= res[0]%> </p>
		</div>
		<% if session[:orders] == {} %>
		<p><input id="order_btn" type="button" value="Add Order" disabled="true"><input type="button" value="Home" onmouseup="window.location='/'"></p></p>
		<% else 			
			if Float(session[:total]) > Float(res[1]) %>
				<p>You do not have enough credits</p>
				<p><input id="order_btn" type="button" value="Add Order" disabled="true"><input type="button" value="Home" onmouseup="window.location='/'"></p></p>
			<% elsif (params[:erro] != nil) %>
				<p><input id="order_btn" type="button" value="Add Order" disabled="true"><input type="button" value="Home" onmouseup="window.location='/'"></p></p>
				<p> The products: <%
					ids = params[:erro].split(":")
					ids.each do |i| %>
						<%=session[:orders][i][1]%>
						<% if(i != ids.last)%>
							,
						<% end %>
					<% end %>
					are not available, please try again another time</p>
			<% else  %>
				<p><input id="order_btn" type="button" value="Add Order" onmouseup="window.location='/final'"><input type="button" value="Home" onmouseup="window.location='/'"></p>
			<% end %>
		<% end %>
		<div align="center" class="footer">
			Copyright © 2010 - Guilherme Simões, João Penetra, Ricardo Bernardino
		</div>
	</div>
</body>
</html>
