<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/index.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome to Music Store</title>
	<script type="text/javascript">
	function goTo(page){
		if (page=='index')
		window.location='/';
		else {
			window.location='/'+page;
		}
	}
	
	function passMatch(){
		var firstPass=document.registerForm.passcode.value;
		var secondPass=document.registerForm.passcode1.value;
		
		if(firstPass==secondPass && firstPass){
			if(document.registerForm.email.value!=""){
				document.registerForm.submit_btn.disabled=false;
			} else {
				document.registerForm.submit_btn.disabled=true;
			}
		}
		else{
			document.registerForm.submit_btn.disabled=true;
		}
	}
	
	function emailField(){
		var email = document.registerForm.email.value;
		if(email==""){
			document.registerForm.submit_btn.disabled=true;
		} else {
			if(document.registerForm.passcode.value==document.registerForm.passcode1.value){
				document.registerForm.submit_btn.disabled=false;
			} else {
				document.registerForm.submit_btn.disabled=true;
			}
		}
	}
	
	function remove(id){
		window.location="/removeorder?id="+id+"&page=<%= request.fullpath %>";
	}
	
	function add(id){
		window.location="/addorder?id="+id+"&page=<%= request.fullpath %>";
	}
	
	function del(id,currQ){
		if(currQ-1!=0)
			window.location="/del?id="+id+"&page=<%= request.fullpath %>";
		else
			window.location="/removeorder?id="+id+"&page=<%= request.fullpath %>";
	}
	
	function credits() {
		var txt = document.getElementById('credits_txt');
		var btn = document.getElementById('credits_btn');
		if(txt.style.display=='none'){
			txt.style.display='';
			btn.disabled=true;
		} else {
			window.location='/addcredits?c='+txt.value+'&page=<%= request.fullpath %>';
			txt.style.display='none';
		}
	}
	
	function justInt() {
		var txt = document.getElementById('credits_txt');
		var btn = document.getElementById('credits_btn');
		if( !isNaN(parseInt(txt.value))){
			txt.value=parseInt(txt.value);
			btn.disabled=false;
		} else {
			btn.disabled=true;
		}
	}
	
	
	</script>
</head>

<body onload="emailField();">
	<div class="container">
		<div align="center" class="header">
			<h1>Music Store</h1>
			<div align="left" style="background:#F93; padding:8px">
				<div>
					<span width="100" class="link" onClick="goTo('index')">Home</span>
					<span width="100" class="link" onClick="goTo('top')">Top</span>
					<span width="100" class="link" onClick="goTo('artists')">Artists</span>
					<span width="100" class="link" onClick="goTo('albums')">Albums</span>
					<span width="100" class="link" onClick="goTo('merchandising')">Merchandising</span>
					
					<div style="float:right">
						<form name="searchForm" action="/search" method="post">
							<span> Search </span><input type="text" name="term" style="border-style:double" />
							<select name="option">
								<option value="artist">Artists</option>
								<option value="album">Albums</option>
								<option value="song">Songs</option>
								<option value="merch">Merchandising</option>
							</select>
							<input type="submit" value="Go">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div align="center" class="content">
			<!-- !LOGGED_IN -->
			<% if @logged %>
			<div style="background:#EEE; float:left;width:15%">
				<h3>Welcome <%= session[:id] %>!!</h3>
				<br />
				<a class="search" href="/client"> Edit your personal information</a>
				<br /><br />
				<input id="credits_txt" type="text" size="5" style="display:none;" onkeyup="justInt()" /><br />
				<input id="credits_btn" type="button" value="Buy Credits" onmouseup="credits()">	
				<br /><br />
				<a href="/logout">Logout</a>
			</div>
			<% else %>
			<div style="background:#EEE; float:left;width:15%;">
				<form action="/login" method="post" accept-charset="utf-8">
					<h1>Login</h1>
					<h3>Username</h3><input type="text" name="username" /><br />
					<h3>Password</h3><input type="password" name="password"/><br /><br />
					<input type="submit" value="Login">
					<br /><br />
					<a href="/register">Not Registered?</a>
					<br />
				</form>
			</div>
			<% end %>
			<!-- Cenas -->
			<div align="left" style="background:#CCC; float:left;width:70%;">
				<h1> Client </h1>
				<form name="registerForm" class="registerForm" action="/editClient" method="post">
					<table onkeyup="emailField()">
						<tr>
							<td class="label">Name:</td>
							<td><input type="text" maxlength="20" size="30" name="name" value="<%= @info[0] %>" /></td>
						</tr>
						<tr>
							<td class="label">Telephone Number:</td>
							<td id="phone"><input type="text" maxlength="20" size="30" name="phone" value="<%= @info[2] %>" /></td>
						</tr>
						<tr>
							<td class="label">Address:</td>
							<td id="address"><input type="text" maxlength="100" size="30" name="address" value="<%= @info[1] %>" /></td>
						</tr>
						<tr>
							<td class="label">Email:</td>
							<td id="email"><input type="text" maxlength="50" size="30" name="email" value="<%= @info[3] %>" /></td>
						</tr>
						<tr>
							<td class="label">Current Password:</td>
							<td><input type="password" maxlength="15" size="30" name="currentPasscode" /></td>
						</tr>
						<tr>
							<td class="label">Password:</td>
							<td id ="firstPass" onkeyup="passMatch()" ><input type="password" maxlength="15" size="30" name="passcode" /></td>
						</tr>
						<tr>
							<td class="label">Confirm Password:</td>
							<td id="secondPass" onkeyup="passMatch()" ><input type="password" maxlength="15" size="30" name="passcode1" /></td>
						</tr>
					</table>
					<input type="submit" value="Confirm changes" name="submit_btn"/>
				</form>
				
				<a><% 
						if params[:erro] == "f"  
							%>Edit Done! 
						<%  elsif params[:erro] == "t" %>  
							Edit Failed!</a>
						<% end 
					%>
			</div>
			<!-- Shopping Cart -->
			<div style="background:#DDD; float:left;width:15%;">
				<h1>Shopping Cart</h1>
				<% if session[:orders]=={}%>
					<p>No orders</p>
				<% else %>
					<p>You have some orders</p>
					<% session[:orders].keys.each do |order| %>
					<p align="left" style="margin:10%">Product: <%= session[:orders][order][1] %> (<%= session[:orders][order][2] %>)<br />Quantity: <%= session[:orders][order][0] %> <img style="cursor:pointer" onmouseup="add(<%= order %>)" src="/img/plus.png">  <img style="cursor:pointer" onmouseup="del(<%= order %>,<%= session[:orders][order][0] %>)" src="/img/minus.png"><br /><img style="cursor:pointer" onmouseup="remove(<%= order %>)" src="/img/cross.png"></p>
					<% end %>
					<% if @logged %>
						<input type="button" onClick="goTo('checkout')" value="Checkout">
					<% else %>
						<input type="button" onClick="goTo('checkout')" value="Checkout" disabled="true">
						<br />You need to be logged in to proceed to checkout! 
					<%end%>
					<p>(a) - album / (s) - song / (m) - merchandise</p>
				<%end%>
			</div>
		</div>
		<div align="center" class="footer">
			 Copyright © 2010 - Guilherme Simões, João Penetra, Ricardo Bernardino
		</div>
	</div>
</body>
</html>
