<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="../index.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to Music Store</title>
<script type="text/javascript">
	function goTo(page){
		if (page=='index')
			window.location='/';
		else {
			window.location='/'+page;
		}
	}
</script>
</head>

<body>
<div align="center" class="content">
		<h1>Music Store</h1>
	  <div align="left" style="background:#F93; padding:8px">
		<div>
       	  	<span width="100" class="link" onClick="goTo('index')">HOME</span>
			<span width="100" class="link" onClick="goTo('top')">TOP</span>
			<span width="100" class="link" onClick="goTo('song')">SONGS</span>
			<span width="100" class="link" onClick="goTo('album')">ALBUNS</span>
			<span width="100" class="link" onClick="goTo('merch')">MERCHANDISE</span>
          
          	<div style="float:right">
				<form name="searchForm" action="/search" method="post">
				<span> SEARCH </span><input type="text" name="term" style="border-style:double" />
				<select name="option">
					<option value="album">Albums</option>
					<option value="artist">Artists</option>
					<option value="merch">Merchandise</option>
					<option value="song">Songs</option>
				</select>
				<input type="submit" value="Go">
				</form>
			</div>
         </div>
	  </div>
      <!-- !LOGGED_IN -->
      	<% if @logged %>
		<div style="background-color:#EEE; float:left;width:20%">
			<h3>Welcome <%= session[:id] %>!!</h3><br />
			<a href="/logout">Logout</a>
		</div>
		<% else %>
			<div style="background-color:#EEE; float:left;width:20%">
				<form action="/login" method="post" accept-charset="utf-8">
					<h1>Login</h1>
					<h3>Username</h3><input type="text" name="username" />
					<h3>Password</h3><input type="password" name="password"/><br />
					<input type="submit" value="Login">
					<br />
					<a href="/register">Not Registered?</a>
					<br />
				</form>
			</div>
		<% end %>
      <!-- Cenas -->
      <div style="background-color:#CCC; float:left;width:60%">
      	<%= @songID %>
		<br /><br />
		<img src="" />
		
		<div align="left" style="margin: 10px;">
		<p>Song Name: <%= @res[1] %></p>
		<p>Artist Name: <%= @res[0] %></p>
		<p>Album Name: <%= @res[2] %></p>
		<p>Track Number: <%= @res[3] %></p>
		<p>Length: <%= @res[4] %></p>
		<p>Genre: <%= @res[5] %></p>
		<p>Release Date: <%= @res[6] %></p>
		<p>Rating: <%= @res[7] %></p> 
		<p>Price: <%= @res[9] %> euro/s</p> 
		</div>
      </div>
			
      <!-- Shopping Cart -->
      <div style="background-color:#DDD; float:left;width:20%">
      <h1>Shopping Cart</h1>
      </div>
</div>
</body>
</html>
